<!DOCTYPE html>
<html>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">

    <table border="1">
        <tr>
            <th>date</th>
            <th>patient</th>
            <th>service</th>
            <th>doctor</th>
            <th>scheduleId</th>
            <th>state</th>
            <th>action</th>

        </tr>
        <tr ng-repeat="x in reservations">
            <td>{{ x.date }}</td>
            <td>{{ x.patientId }}</td>
            <td>{{ x.serviceId }}</td>
            <td>{{ x.doctorId }}</td>
            <td>{{ x.scheduleId }}</td>
            <td>{{ x.state}}</td>
            <td>
                <button ng-click="cancel(x.reservationId)">cancel</button>
            </td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {
        $http.get("http://localhost:8080/reservations")
                .then(function (response) {
                    $scope.reservations = response.data;
                });
        $scope.cancel = function (reservationId) {
            $http.get('/cancel', {
                        params: {
                            reservationId: reservationId
                        }
                    },
                    function (response) {
                        $http.get("http://localhost:8080/cancel")
                                .then(function (response) {
                                    $scope.reservations = response.data;
                                })
                    },
                    function (failure) {
                        console.log("failed :(", failure);
                    });
        }
    });
</script>

</body>
</html>